{# Content Block #}
{% set title = fields.title %}

<div class="b-cta-background-image" id="b-cta-background-{{ block.id }}">

  <div class="container b-cta-background-image__container">

      CTA BACKGROUND IMAGE

  </div>
  
</div>