.o-footer {
	position: relative;
  background-color: $color-primary;

  &__wave{
    background-color: $lilac;
    svg{
      margin-bottom: -4px;
    }
  }

  &__bee{
    position: absolute;
    top: 0;
    left: 20%;
    width: 100px;
    height: 200px;
    pointer-events: none;
    z-index: 1;
    background: url('/images/bee.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__ladybug{
    position: absolute;
    bottom: 50px;
    right: 5%;
    width: 70px;
    height: 70px;
    pointer-events: none;
    z-index: 900;
    background: url('/images/ladybug.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__socials a{
    margin-right: 18px;
  }

  &__inner{
    padding-left: 70px;
    padding-right: 70px;

    max-width: 1500px;
    margin: auto;
  }

  &__top{
    display: flex;
    justify-content: space-between;

    .c-logo{
      width: 170px;
      height: 120px;
      display: block;
      @include fluid-size('margin-top', -20px, -80px);
    }
  }

  .c-navigation__list{
    padding-top: 50px;

    &>.c-navigation__item{
      @include fluid-size('margin-right', 5px, 50px, $break-desktop, $font-lock-max);
    }
  }

  .c-navigation__link--parent{
    color: $white;
    @include font-size(18px, 22px);
    @include line-height(22px, 28px);
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
    @extend .bernino;
  }

  .c-navigation__link--child{
    color: $white;
    @include font-size(10px, 12px);
    @include line-height(10px, 12px);
    text-transform: capitalize;
    margin-bottom: 20px;
    display: block;
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $white;

    &--menu{
      display: flex;
      justify-content: space-between;
    }

    ul{
      display: flex;
      align-items: center;

      li{
        @include font-size(10px, 12px);
        @include line-height(10px, 12px);
        padding: 0 10px;
        border-right: 1px solid $white;

        &:last-child{
          border-right: none;
        }
      }
      a{
        text-decoration: none;
        color: $white;
      }
    }
  }

  &__copy{
    @include font-size(10px, 12px);
    @include line-height(10px, 12px);
  }
}