.c-navigation--primary{
  display: flex;
  align-items: center;
  height: fit-content;

  @include large{
    margin-top: 35px;
  }

  .c-navigation__list{
    display: none;

    @include large{
      display: flex; 
    }
  }
}

.secondary-open{
  .c-navigation__list{
    display: none;
  }
}

.c-navigation__list{
  display: flex; 
}

.c-navigation__link{
  text-decoration: none;
  color: $white;
  margin-right: 40px;
  text-transform: uppercase;
}