{% if items %}

<nav class="c-navigation c-navigation--primary">

  <ul class="c-navigation__list">

    {% for item in items %}

    <li class="{{ item.classes|join(' ') }} c-navigation__item">
      
      {% if item.link %}

        <a class="c-navigation__link bernino" target="{{ item.target }}" href="{{ item.link }}">
          {{ item.title }}
        </a>

      {% endif %}

    </li>

    {% endfor %}

  </ul>

  {% include 'elements/burger.twig' %}

</nav>


{% endif %}