h1, h2, h3, h4 {
  font-family: $font-secondary;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.bernino{
  font-family: "jaf-bernino-sans-comp", sans-serif;
  font-weight: 800;
  font-style: normal;
}

// mobile sized to be updated
.text-xl {
  @include font-size(18px, 22px, 768px, 1440px);
  @include line-height(24px, 28px, 768px, 1440px);
}

.text-2xl {
  @include font-size(32px, 40px, 768px, 1440px);
  @include line-height(38px, 46px, 768px, 1440px);
}

.text-3xl {
  @include font-size(40px, 50px, 768px, 1440px);
  @include line-height(50px, 62px, 768px, 1440px);
}

.text-4xl {
  @include font-size(30px, 60px, 768px, 1440px);
  @include line-height(40px, 72px, 768px, 1440px);
}

.text-5xl {
  @include font-size(72px, 90px, 768px, 1440px);
  @include line-height(65px, 82px, 768px, 1440px);
}

.text-6xl {
  @include font-size(70px, 160px, 768px, 1440px);
  @include line-height(70px, 140px, 768px, 1440px);
}

p {
  @include font-size(14px, 18px, 390px, 768px);
  font-weight: 400;
  @include line-height(21px, 24px, 390px, 768px);
}

ul, ol {
  li {
    @include font-size(14px, 18px, 390px, 768px);
    font-weight: 400;
    @include line-height(21px, 24px, 390px, 768px);
  }
}