<button class="e-burger js-burger">

  {# normal, not hovered, menu closed #}
  <svg class="e-burger__icon"  width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.00170898" y="0.109375" width="40" height="40" rx="19" fill="#FEFDF8"/>
    <path d="M11.1892 15.7409L12.9584 14.2246C14.3952 12.9933 16.5597 13.167 17.7817 14.6117L18.1591 15.0578C19.4292 16.5593 21.782 16.4327 22.8837 14.8035V14.8035C23.9284 13.2585 26.1224 13.0486 27.4411 14.3675L28.8142 15.7409" stroke="#552B8B" stroke-linecap="round"/>
    <path d="M11.1892 20.7116L12.9584 19.1953C14.3952 17.964 16.5597 18.1377 17.7817 19.5824L18.1591 20.0285C19.4292 21.53 21.782 21.4034 22.8837 19.7742V19.7742C23.9284 18.2292 26.1224 18.0193 27.4411 19.3382L28.8142 20.7116" stroke="#552B8B" stroke-linecap="round"/>
    <path d="M11.1892 26.0866L12.9584 24.5703C14.3952 23.339 16.5597 23.5127 17.7817 24.9574L18.1591 25.4035C19.4292 26.905 21.782 26.7784 22.8837 25.1492V25.1492C23.9284 23.6042 26.1224 23.3943 27.4411 24.7132L28.8142 26.0866" stroke="#552B8B" stroke-linecap="round"/>
  </svg>
  
  <div class="e-burger__close">
    <span>CLOSE</span>
    <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1.60547" y="1" width="38" height="38" rx="19" stroke="#552B8B" stroke-width="2"/>
      <path d="M14.6978 12.2383L27.7209 25.2614" stroke="#552B8B" stroke-width="2" stroke-linecap="round"/>
      <path d="M14.6978 25.2617L27.7209 12.2386" stroke="#552B8B" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </div>


</button>