.b-product-signposting{
  background-color: $lilac;
  @include fluid-size("padding-bottom", 10px, 100px);

  &--wave-right{
    .b-product-signposting__wave{
      // flip the wave
      transform: scaleX(-1);
    }
  }

  &__wave{
    width: 100%;
    background-image: url("/images/beige-wave.png");
    background-position: center;
    background-size: cover;
    @include fluid-size("height", 30px, 250px, 350px, 2400px);
  }

  &__inner{
    max-width: 90%;
    margin: auto;

    @media screen and (min-width: $site-width) {
      max-width: $site-width;
    }
  }

  &__shadow{
    margin-top: -30px;
  }

  &__content{
    position: relative;
    @include fluid-size('padding-left', 30px, 100px);
    @include fluid-size('padding-right', 30px, 100px);
    @include fluid-size('padding-bottom', 15px, 80px);

    display: grid;
    grid-template-columns: 60% 40%;

    @include small{
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }

    &:before{
      content: '';
      background: url('/images/bg-texture-beige.png');
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    h2, p, a, img{
      position: relative;
      z-index: 5;
    }

    h2{
      @include font-size(45px, 90px, $break-mobile, 1440px);
      @include line-height(45px, 82px, $break-mobile, 1440px);
      text-transform: uppercase;
      padding-bottom: 24px;
    }

    p{
      @include font-size(16px, 18px);
      @include fluid-size('margin-bottom', 20px, 115px);
      color: $black;
    }

    a{
      border-radius: 45px 45px 75px 45px;
    }
  }

  &__image-container{
    position: relative;
    img{
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translate(-50%, 0%);
      max-width: 100%;
      object-fit: contain;

      @include fluid-size('height', 250px, 550px);
      margin-top: -30%;
    }
  }
}